<div class="container">
    <div class="text-center">
        <h1>Finder Hash 256 Mining JS</h1>
    </div>
    <div>
        <label for="startWith">Start With</label>
        <input type="text" id="startWith" class="form-control" placeholder="Start With" [(ngModel)]="startsWith">
        <label for="maxVueltas">Max Vueltas</label>
        <input type="number" id="maxVueltas" class="form-control" placeholder="150" [(ngModel)]="maxVueltas">
        <label for="texto">Texto</label>
        <textarea class="form-control" id="texto" rows="5" [(ngModel)]="texto" (ngModelChange)="cambiaTexto()"></textarea>
    </div>
    <div class="text-center margins">
        <button class="btn btn-primary btn-block" (click)="calcular()">Calcular</button>
    </div>
    <div>
        <label for="resultados">Hash Resultante</label>
        <input type="text" class="form-control" id="resultados" [(ngModel)]="textoResultado"> {{mensajeResultado}}
    </div>
</div>